.card {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 3px 2px rgb(0 0 0 / 30%);
    height: 300px;
    width: 250px;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}