.navbar
{
  background-color:#FFFF00;
}
.h4
{
  font-size: 50px;
  padding-left: 10px;
}
.menu
{
padding: 0;
margin: 0;
display: flex;
width: 100%;
}
.menu li
{
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
body { background:transparent; }
body:after {
  content:"";
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:-1;
  display:block;
  background:url('./bgrnd3.jpg') no-repeat 50% 50%;
  background-size:cover;
}
.text-link {
  background-color: blue;
  color: white;
  padding: 0.5em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px;


}
.bar {
  float: right;
}
a:hover {
  cursor: pointer;
}