.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.head {
   align-items: center;
   text-align: center;
   justify-content: center;
   padding-top: ;
}
.form-horizontal{
    display:block;
    width:50%;
    margin:0 auto;
}
.logs
{
  display: flex;
  align-items: center;
}
#message
{
  position: fixed;
  top: 110px;
  left: 36%;
}
#email
{
  position: fixed;
  left: 40%;
  top: 150px;
}
#logButton
{
  position: fixed;
  left: 45%;
  height: 5%;
  width: 12%;
}
